<section class="d-flex flex-column align-items-center my-5">
    <h1 class="px-5 py-3 w-50 text-center">LOGIN</h1>

    <form class="w-50 px-5" id="loginForm">
        <label class="form-label pt-3" for="email">Email</label>
        <input name="email" id="email" class="form-control">
        <label class="form-label pt-3" for="password">Password</label>
        <input type="password" id="password" class="form-control" name="password">
        <input type="submit" class="btn btn-primary mt-4 w-100">
    </form>

    <p class="lead px-5 pt-2">Don't have an account? <a href="/register">Sign in! :)</a></p>
</section>
<script src="/js/login.js"></script>