<section class="rounded mt-5 mx-auto p-4 d-flex flex-column align-items-center w-75 bg-light border shadow-lg">
    <h1>ยก Goodbye !</h1>
    <h4 class="my-5 display-6">We hope to see you soon...</h4>
    <a href="/" class="px-2 btn btn-outline-info">Go back to Login page</a>
</section>