<section class="d-flex flex-column align-items-center my-5">
    <h1 class="px-5 py-3 w-50 text-center">REGISTER</h1>

    <form class="w-50 px-5" id="registerForm">
        <label class="form-label pt-3">First Name</label>
        <input class="form-control" name="first_name">
        <label class="form-label pt-3">Last Name</label>
        <input class="form-control" name="last_name">
        <label class="form-label pt-3">Email</label>
        <input class="form-control" name="email">
        <label class="form-label pt-3">Password</label>
        <input class="form-control" type="password" name="password">
        <label for="avatar" class="form-label pt-3">Avatar</label>
        <input type="file" class="form-control" id="avatar" name="avatar">
        <input type="submit" class="btn btn-primary w-100 mt-4">
    </form>

    <p class="lead px-5 pt-2">Already have an account? <a href="/">Log in! :)</a></p>
</section>
<script src="/js/register.js"></script>